NEXT_PUBLIC_NETWORK_LIST_API=https://raw.githubusercontent.com/forbole/big-dipper-networks/main/networks.json
NEXT_PUBLIC_GRAPHQL_URL='{"Agoric":"http://localhost:8080/v1/graphql","AssetMantle":"http://localhost:8080/v1/graphql","Band Protocol":"http://localhost:8080/v1/graphql","Bitsong":"http://localhost:8080/v1/graphql","Cheqd":"https://explorer-gql.cheqd.io/v1/graphql","Comdex":"http://localhost:8080/v1/graphql","Cosmos Hub":"http://localhost:8080/v1/graphql","Crescent":"http://localhost:8080/v1/graphql","Desmos":"http://localhost:8080/v1/graphql","e-Money":"http://localhost:8080/v1/graphql","Evmos":"http://localhost:8080/v1/graphql","Flow":"http://localhost:8080/v1/graphql","LikeCoin":"http://localhost:8080/v1/graphql","Osmosis":"http://localhost:8080/v1/graphql","Provenance":"http://localhost:8080/v1/graphql","Regen Network":"http://localhost:8080/v1/graphql","Rizon":"http://localhost:8080/v1/graphql","Sifchain":"http://localhost:8080/v1/graphql","Solana":"http://localhost:8080/v1/graphql"}'
NODE_ENV=development
PORT=3000
